@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{

    background-color: #fafafa;
    font-family: 'Poppins', sans-serif;

}


header{
width: 100%;
background-color: white;
display: flex;
margin-top: -2px;
z-index: 99999999999999999999;
border-top: 2px solid rgba(0, 0, 0, 0.05);
border-bottom: 2px solid rgba(0, 0, 0, 0.05);
text-transform: capitalize;
font-weight: 550;
color: #313133;
font-size: 18px;
}

.stickyhead{
    width: 100%;

}

.stickyhead img{
    width: 100%;
}

.navcontainer{
    display: flex;
    align-items: center;
    width: 1200px;
    margin: auto;

    background-color: white;
justify-content: space-between;
}

.container{
    display: flex;
    align-items: center;
    width: 1200px;
    margin: auto;
    padding: 10px;
    flex-direction: column;
    background-color: #fafafa;
}


.logo{
    height: 84px;
}

.logo img{
    width: 180px;
    height: 84px;
    object-fit: contain;
}

.navcontainer input{

    width: 400px;
    padding: 8px;
    border: 1px solid #a3a3a6;
    border-radius: 4px;
    outline: none;
}

.navcontainer button{

    width: fit-content;
    padding: 7px;
    color: white;
    border: 1px solid #f68b1e;
    background-color: #f68b1e;
    border-radius: 4px;
    outline: none;
    font-size: 17px;
}

.navlinks {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 19px;
}
ion-icon {
    font-size: 21px;
    font-weight: 600;
  }

  .herodata{
    width: 100%;
    display: flex;
    gap: 19px;
    margin-top: 30px;
  }

  .dataone{
    border-radius: 7px;
    width: 28%;
    padding: 14px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
  }

  .datatwo{
    width: 100%;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
  }

  .datathree{
 display: flex;
 flex-direction: column;
 gap: 20px;
    width: 30%;

    border-radius: 7px;
  }

  .squareone{
    width: 100%;
    height: 100%;
    border-radius: 9px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
  }

  .squareone img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 9px;
  }

  .squaretwo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 9px;
  }

  .squaretwo{
    width: 100%;
    height: 100%;
    border-radius: 9px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
  }



  .dataone ul {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    gap: 14px;
    ;
  }

  .dataone ul li{
    display: flex;
    gap: 9px;
   transition: 0.5s;
    font-size: 14px;
    cursor: pointer;
    color: #313133;
  }
  

  .dataone ul li:hover{
 color: #f68b1e;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
  }
  
  .section {
    margin: 0 ;
    padding-block: 0;
    height: 100%;
    width: 100%;
  }
  
  .containers {
    max-width: 100%;
    height: 100%;

  }


  .datatwo .swiper, swiper-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
    height: 100%;
}
  
  .datatwo .swiper-button-next::after, .datatwo .swiper-button-prev::after {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    font-weight: 800;
    padding: 1rem;
    width: 300px;
    height: 50px;
    opacity: 0.75;
    border-radius: 50%;
    color: #f68b1e;

  }

  .swiper-pagination{
    color: #f68b1e;
  }
  .swiper-slide{
    border-radius: 9px;
  }

  .swiper-slide{
    object-fit: fill;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    color: green;
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap,4px);
    background: #f68b1e;
}

.productcontainer{
  width: 100%;
  display: grid;
  align-items: center;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.product{
  height: 360px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
  padding: 14px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #313133;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #fff;
}

.product:hover{
  color: #f68b1e;
  border: 1px solid #f68b1e;
}

.butbutton{
  margin-top: auto;
}
.productname{
  font-size: .79rem;
  line-height: 1.4;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    white-space: normal;
    font-weight: 400;
  
 
}

.botton{
  margin-top: auto;
  padding: 5px;
  border-radius: 3px;
  background-color: #f68b1e;
  color: #fff;
  width: 100%;
  text-align: center;
}

.productprice{
  margin-top: auto;
  font-size: .975rem;
  line-height: 1.4;
}
.product .productimg img{
  width: 100%;
    height: 200px;
    object-fit: contain;
}
li svg {
  font-size: 19px;
  width: 20%;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}


.swiper-container {
  width: 100%; /* Adjust container width as needed */
}
.cat{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
  overflow: hidden;
  padding: 15px;
  background-color: white;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
}
.cattitle{
  text-align: center;
  padding: 10px;
  background-color: beige;
  margin-bottom: 15px;
  border-radius: 7px;
  font-weight: 500;
  line-height: 1.2;
  font-size: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sa .swiper-slide {
  width: calc((100% - 40px) / 5); /* Adjust card width and spacing as needed */
  height: 200px; /* Adjust card height as needed */
  background-color: white; /* Adjust card background color as needed */
  display: flex;
  justify-content: center;
  align-items: center;
border: 1px solid #fff;
border-radius: 3px;
padding: 3px;
}

.sa .swiper-slide img {
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 3px;
}

.productdiv{
  display: flex;
  gap: 40px;
  margin-top: 40px;
  
}

.productcheck{
  width: 25%;
  position: sticky;
  top: 19px;
  height: fit-content;
  padding: 20px;
  background-color: white;

}

.sasa{
  height: 400px;
}

  @media screen and (max-width:1250px) {
    .container{
      width: 97%;
    }

    .navlinks{
      display: none;
    }
    .navcontainer{
      width: 97%;
    }
    .dataone{
      display: none;
    }
    .datathree{
      display: none;
    }
  }


