@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{

    background-color: #fafafa;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;

}
nav {
  display: none;
  position: relative;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
 
  align-items: center;
  background: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
nav .logo {
  display: flex;
  align-items: center;
  margin: 0 24px;
}
.logo .menu-icon {
  color: #333;
  font-size: 24px;
  margin-right: 14px;
  cursor: pointer;
}
.logo .logo-name {
  color: #333;
  font-size: 22px;
  font-weight: 500;
}
nav .sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 999;
  height: 100%;
  width: 260px;
  padding: 20px 0;
  background-color: #fff;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}
nav.open .sidebar {
  left: 0;
}
.sidebar .sidebar-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 16px;
}
.sidebar-content .list {
  list-style: none;
}
.list .nav-link {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
}
.lists .nav-link:hover {
  background-color: #f68b1e;


}
.nav-link .icon {
  margin-right: 14px;
  font-size: 20px;
  color: #707070;
}
.nav-link .link {
  font-size: 16px;
  color: #707070;
  font-weight: 400;
}
.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
  color: #fff;
}
.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  z-index: 999999999999999;
  width: 200%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  background: rgba(0, 0, 0, 0.7);

  position: fixed;
  backdrop-filter: blur(2px);
}
nav.open ~ .overlay {
  opacity: 1;
  left: 260px;
  pointer-events: auto;
}


::-webkit-scrollbar {
  width: 1px; 
   background-color: rgba(0,0,0,0);
  -webkit-border-radius: 0px;
}
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0,0,0,0.61);
  -webkit-border-radius: 0px;
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0,0,0,0.61);
  -webkit-border-radius: 0px;
}



header{
width: 100%;
background-color: white;
display: flex;
margin-top: -2px;
z-index: 99999999999999999999;
border-top: 2px solid rgba(0, 0, 0, 0.05);
border-bottom: 2px solid rgba(0, 0, 0, 0.05);
text-transform: capitalize;
font-weight: 550;
color: #313133;
font-size: 18px;
}

.stickyhead{
    width: 100%;

}

.stickyhead img{
    width: 100%;
}


.navcontainers{
  width: 70%;
  align-items: center;
  display: flex;

  margin: auto;
justify-content: end;
}
.whitebg{
  margin-top: 0px;
  margin-bottom: 40px;
}

@media screen and (max-width:9700px) {
  .container{
    display: flex;
    align-items: center;
    width: 5300px;
    margin: auto;
    padding: 10px;
    flex-direction: column;
    background-color: #fafafa;
}
.navcontainer{
  display: flex;
  align-items: center;
  width: 5300px;
  margin: auto;
  background-color: white;
justify-content: space-between;
}
}

@media screen and (max-width:5700px) {
  .container{
    display: flex;
    align-items: center;
    width: 3300px;
    margin: auto;
    padding: 10px;
    flex-direction: column;
    background-color: #fafafa;
}
.navcontainer{
  display: flex;
  align-items: center;
  width: 3300px;
  margin: auto;

  background-color: white;
justify-content: space-between;
}
}

@media screen and (max-width:3900px) {
  .container{
    display: flex;
    align-items: center;
    width: 2300px;
    margin: auto;
    padding: 10px;
    flex-direction: column;
    background-color: #fafafa;
}
.navcontainer{
  display: flex;
  align-items: center;
  width: 2300px;
  margin: auto;

  background-color: white;
justify-content: space-between;
}
}

@media screen and (max-width:2900px) {
  .container{
    display: flex;
    align-items: center;
    width: 2000px;
    margin: auto;
    padding: 10px;
    flex-direction: column;
    background-color: #fafafa;
}
.navcontainer{
  display: flex;
  align-items: center;
  width: 2000px;
  margin: auto;

  background-color: white;
justify-content: space-between;
}
}

@media screen and (max-width:2000px) {
  .container{
    display: flex;
    align-items: center;
    width: 1200px;
    margin: auto;
    padding: 10px;
    flex-direction: column;
    background-color: #fafafa;
}
.navcontainer{
  display: flex;
  align-items: center;
  width: 1200px;
  margin: auto;

  background-color: white;
justify-content: space-between;
}
  
}



.logo{
    height: 67px;
}

.logo img{
    width: 180px;
    height: 100%;
    object-fit: contain;
}

.navcontainer input{

    width: 400px;
    padding: 9px;
    border: 1px solid #a3a3a6;
    border-radius: 4px;
    outline: none;
    font-family: 'Poppins', sans-serif;

}

.stickyhead2{
  display: none;
}

.navcontainer button{

    width: fit-content;
    padding: 8px;
    border: none;
    color: white;
    border: 1px solid #f68b1e;
    background-color: #f68b1e;
    border-radius: 4px;
    outline: none;
    font-size: 17px;
}

.navlinks {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 19px;
}
ion-icon {
    font-size: 21px;
    font-weight: 600;
  }

  .herodata{
    width: 100%;
    display: flex;
    gap: 19px;
    margin-top: 30px;
  }

  .dataone{
    border-radius: 7px;
    width: 28%;
    padding: 14px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
  }

  .datatwo{
    width: 100%;
    border-radius: 10px;
    max-width: 700px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
  }

  .datathree{
 display: flex;
 flex-direction: column;
 gap: 20px;
    width: 30%;

    border-radius: 7px;
  }

  .squareone{
    width: 100%;
    height: 100%;
    border-radius: 9px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
  }

  .squareone img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 9px;
  }

  .squaretwo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 9px;
  }

  .squaretwo{
    width: 100%;
    height: 100%;
    border-radius: 9px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
  }



  .dataone ul {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    gap: 14px;
    ;
  }

  .dataone ul li{
    display: flex;
    gap: 9px;
   transition: 0.5s;
    font-size: 14px;
    cursor: pointer;
    color: #313133;
  }
  

  .dataone ul li:hover{
 color: #f68b1e;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
  }
  
  .section {
    margin: 0 ;
    padding-block: 0;
    height: 100%;
    width: 100%;
  }
  
  .containers {
    max-width: 100%;
    height: 100%;

  }


  .datatwo .swiper, swiper-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
    height: 100%;
}
  
  .datatwo .swiper-button-next::after, .datatwo .swiper-button-prev::after {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    font-weight: 800;
    padding: 1rem;
    width: 300px;
    height: 50px;
    opacity: 0.75;
    border-radius: 50%;
    color: #f68b1e;

  }

  .swiper-pagination{
    color: #f68b1e;
  }
  .swiper-slide{
    border-radius: 9px;
  }

  .swiper-slide{
    object-fit: fill;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    color: green;
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap,4px);
    background: #f68b1e;
}

.productcontainer{
  margin-top: 10px;
  width: 100%;
  
  display: grid;
  align-items: center;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}




.allitemgrid{
  width: 100%;
  display: grid;
  align-items: initial;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.segmentitem{
padding: 7px;
transition: 0.5s;
border-radius: 7px;
}

.segmentitem span{
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  white-space: normal;
  text-align: center;
  width: 100%;
  font-size: 14px;
}
.segmentitem img{
  border-radius: 7px;
  width: 100%;
  height: fit-content;
  object-fit: contain;

  }

.segmentitem:hover{
  color: #f68b1e;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
}
.flex{
  display: flex;
  justify-content: space-between !important;
  width: 100%;
  font-size: 15px !important;
}
.seemore{
  transition: 0.5s;
  cursor: pointer;
  color: #a3a3a6;
}

.seemore:hover{
  color: #f68b1e;
}
.flex{
  text-align: start;
}
.product{
  height: 365px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
  padding: 14px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #313133;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 7px;
  border: 1px solid #fff;
}

.product:hover{
  color: #f68b1e;
  border: 1px solid #f68b1e;
}

.butbutton{
  margin-top: auto;
}
.productname{
  font-size: .79rem;
  line-height: 1.4;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    white-space: normal;
    font-weight: 400;
  
 
}

.botton{
  margin-top: auto;
  font-size: 15px;
  padding: 9px;
  border: none;
  border-radius: 3px;
  background-color: #f68b1e;
  color: #fff;
  width: 100%;
  text-align: center;
  border: 1px solid #f68b1e;
  transition: 0.5s
}

.botton:hover{
  cursor: pointer;
  background-color: white;
  color: black;
}

.productprice{
  margin-top: auto;
  font-size: .975rem;
  line-height: 1.4;
}
.product .productimg img{
  width: 100%;
    height: 200px;
    object-fit: contain;
}
li svg {
  font-size: 19px;
  width: 20%;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}


.swiper-container {
  width: 100%; /* Adjust container width as needed */
}
.cat{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 25px;
  background-color: white;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
}
.cattitle{
  text-align: center;
  padding: 10px;
  background-color: beige;
  margin-bottom: 15px;
  border-radius: 7px;
  font-weight: 500;
  line-height: 1.2;
  font-size: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sa .swiper-slide {
  width: calc((100% - 40px) / 5); /* Adjust card width and spacing as needed */
  height: fit-content; /* Adjust card height as needed */
  background-color: white; /* Adjust card background color as needed */
  display: flex;
  justify-content: center;
  align-items: center;
border: 1px solid #fff;
border-radius: 3px;
padding: 3px;
}
.minititle{
  width:100%;
  margin-top: 10px;
  margin-bottom: 10px;


}

.whitebg{
  background-color: #fff;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
  padding: 30px;
}
.sa .swiper-slide img {
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 3px;
}

.productdiv{
  width: 100%;
  display: flex;
  gap: 40px;
  margin-top: 40px;

  
}

.productcheck{
  width: 25%;
  position: sticky;
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: 19px;
  height: fit-content;
  margin-top: 5px;
  padding: 20px;
  background-color: white;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
}

.myproductcontainer{
  background-color: white;
  padding: 20px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
  
}
.productlinks  {
margin-top: 0px;
padding-left: 20px;
}

.productlinks ul li{
  list-style-type: none;
  font-size: .875rem;
  color: #313133;
}

#loader {
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.skeleton-card {
  margin-top: 10px;
  height: 300px;
  border-radius: 3px;
  transition: all 200ms ease-in-out;
  position: relative;
  background-color: #eaeaea;
}

#loadingIndicator .productimg  {
  width: 100%;
  height: 179px;
  background-color: #bfbfbf;
  border-radius: 5px;
  background-image: url('img/star-inside-circle\ \(2\).png');
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center;
}

.navbar-fixed {
  position: fixed;
  top: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.navbar-fixed.show {
  opacity: 1;
  box-shadow: 0px 1px 7px rgb(198, 198, 198);
}


#loadingIndicator .titleloada{
  margin-top: 9px;
  background-color: #bfbfbf;
  padding: 7px;
  border-radius: 3px;
}
#loadingIndicator .productprice{
  background-color: #bfbfbf;
  padding: 7px;
  width: 40%;
}

#loadingIndicator .butbutton{
  margin-top: 9px;
  border-radius: 5px;
  background-color: #bfbfbf;
  padding: 15px;
}
.skeleton-card::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
  animation: load 1s infinite;
}

@keyframes load {
  100% {
    transform: translateX(100%);
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  .skeleton-card::after {
    animation: none;
  }
}

.filtersection{
  max-height: 200px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  overflow-y: scroll;
  margin-top: 10px;
}
.filterinput{
  width: 100%;
  display: flex;
align-items: center;
font-size: .885rem;
color: #313133;
height: 100%;
}

.filterinput input[type="checkbox"] {
  display: none;
}

/* Style the label to resemble a checkbox */
.filterinput label {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-right: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Create the checkbox visual */
.filterinput label:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ccc;
  background-color: #fff;
}

/* Style the checkbox when it's checked */
.filterinput input[type="checkbox"]:checked + label:before {
  background-color: #f68b1e;
}

/* Style the checkmark inside the checkbox */
.filterinput label:after {
  content: "\2713"; /* Checkmark symbol */
  display: none;
  position: absolute;
  left: 4px;
  top: 1px;
  font-size: 14px;
  color: #fff;
}

/* Show the checkmark when the checkbox is checked */
.filterinput input[type="checkbox"]:checked + label:after {
  display: block;
}

.fi{
  width: 30px;
}
.productlinks ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.sasa{
  height: 400px;
}


  @media screen and (max-width:1250px) {
    .container{
      width: 97%;
    }
    .cat {
      padding: 10px;
    }  
    .herodata{
      flex-direction: column;
    }
    header{
      display: none;
    }

    nav{
      display: flex;
      position: sticky;
      z-index: 99999999999;
      border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }
    .cattitle{
      font-size: 15px;
    }

    .flex{
      font-size: 14px !important;
      text-align: start;
    }
    .whitebg {
      background-color: #fff;
      width: 100%;
      padding: 11px;
  }
    .navlinks{
      display: none;
    }
    .navcontainer{
      width: 97%;
    }
    .dataone{
      display: none;
    }
    .datathree {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: row;
  }
    .logo img {
      width: 180px;
      height: 100%;
      object-fit: cover;
  }

.allitemgrid{
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

  }


  @media screen and (max-width:600px) {
    .allitemgrid {
      gap: 16px;
      grid-template-columns: repeat(auto-fit, minmax(123px, 1fr));
  }

  .stickyhead{
    display: none;
  }
  .stickyhead2{
    display: flex;
  }
  .sidebar .sidebar-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 16px;
}
  .container {
    width: 98%;
}
    
  }
